html{
    background-color: black;
}

h1{
    color:aliceblue;
    background-color: red;
    text-align: center;
    font-style: bold;
    size: 34px;
}

h2{
    color:aliceblue;
    background-color: red;
    text-align: center;
    font-style: bold;
    size: 34px;
}


li{
    list-style: none;
}

nav{
    text-align: center;
    border: 2px;
    border-style: solid;
    border-radius: 5px;
    padding: 2px 2px;
    text-size-adjust: 10px;
    border-color: aliceblue;
}

img{
    height: 100px;
    width: 100px;
}

p{
    color:aliceblue;
    font-family: serif;
    size: 14px;
    font-style: italic;
    text-align: fully justify;
}

footer{
    color: aliceblue;
    background-color: red;
    font-family: serif;
    font-size: 14px;
    font-style: italic;
    text-align: center;
}

button{
    font-size: 20px;
    padding: 10px;
    border-radius: 15px;
    margin: 20px;
}

div{
    display: grid;
    grid-template-columns: 1fr 1fr;
}