html{
    background-color: black;
}

h1{
    color:aliceblue;
    background-color: red;
    text-align: center;
    font-family: serif;
    font-style: bold;
    size: 34px;
}

h2{
    background-color: red;
    color: aliceblue;
    text-align: center;
    font-family: serif;
    size: 34px;
    font-style: Bold;
}

img{
    height: 170px;
    width: 170px;
}

nav{
    text-align: center;
    border-color: aliceblue;
    border: 2px solid red;
    border-style: solid;
    border-radius: 15px;
    padding: 5px 15px;
    text-size-adjust: 30px;
}

p{
    color:aliceblue;
    font-family: serif;
    size: 14px;
    font-style: italic;
    text-align: fully justify;
}

footer{
    color: aliceblue;
    background-color: red;
    font-family: serif;
    font-size: 14px;
    font-style: italic;
    text-align: center;
}

button{
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
}

div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}