h1{
    text-align: center;
    font-style: Serif;
    font-size: 34;
    text-align: center;
 }


body{
    background-color: lightskyblue;
    font-style: Arial;
    font-size: 22;
    text-align:justify;
}
